<h5 *ngIf="!pwd" nz-typography>平台已禁用密码登陆方式，请使用扫码登录方式</h5>
<div>{{ info }}</div>
<form *ngIf="pwd" nz-form [formGroup]="form" (ngSubmit)="submit()">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入登陆名！">
      <nz-input-group nzSize="large" nzPrefixIcon="user">
        <input nz-input formControlName="userName" autocomplete="userName" placeholder="输入登陆名" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入密码！">
      <nz-input-group nzSize="large" nzPrefixIcon="lock">
        <input nz-input type="password" formControlName="password" autocomplete="current-password" placeholder="输入密码" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock>登录</button>
  </nz-form-item>
</form>
<div *ngIf="wxwork || dingtalk" class="other">
  其他登录方式
  <i *ngIf="wxwork" nz-tooltip nzTooltipTitle="企业微信登录" (click)="open('wxwork')" nz-icon nzType="wechat" class="icon"></i>
  <i *ngIf="dingtalk" nz-tooltip nzTooltipTitle="钉钉登录" (click)="open('dingtalk')" nz-icon nzType="dingtalk" class="icon"></i>
</div>
